@model Customer 

<div>
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
</div>
<div>
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
</div>
<div>
    <label asp-for="Phone"></label>
    <input asp-for="Phone"/>
</div>