
@{
    ViewData["Title"] = "Create Order";
}

<h2>Create Order</h2>
@model Order

<form asp-action="Create" method="post">
    <div>
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName"/>
        <span asp-validation-for="ProductName"></span>
    </div>
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity"/>
        <span asp-validation-for="Quantity"></span>
    </div>

    <button type="submit">Submit</button>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}